body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.screen-pedidos .content {
  padding: 20px;
}

.screen-pedidos h2 {
  margin-top: 20px;
  font-size: 20px;
}

.screen-pedidos label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.screen-pedidos input,
.screen-pedidos select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.screen-pedidos button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.screen-pedidos button:hover {
. background-color: #0056b3;
}

.screen-pedidos ul {
  list-style: none;
  padding: 0;
}

.screen-pedidos ul li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.screen-pedidos ul li .garantia {
  color: #28a745;
}

.screen-pedidos ul li .sem-garantia {
  color: #dc3545;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  padding: 10px;
  color: white;
}

/* .navbar h1 { */
/*   margin: 0; */
/*   font-size: 20px; */
/* } */
/**/
/* .navbar button { */
/*   background: none; */
/*   border: none; */
/*   color: white; */
/*   font-size: 16px; */
/*   cursor: pointer; */
/* } */

.screen {
  display: none;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.screen.active {
  display: block;
  position: relative;
}

.content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input,
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

h2 {
  font-size: 20px;
  margin-top: 20px;
}

p {
  margin: 10px 0;
}

.item {
  display: flex;
  align-items: top;
  margin-bottom: 10px;
}

.item-select {
  flex: 2;
  margin-right: 10px;
}

.item-quantidade {
  flex: 1;
  margin-right: 10px;
}

.remove-item {
  flex: 0.5;
  height: 38px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 0px;
}

.remove-item:hover {
  background-color: #ff1a1a;
}

.center {
  text-align: center;
}

.screen-estoque .content {
  padding: 20px;
}

.screen-estoque h2 {
  margin-top: 20px;
  font-size: 20px;
}

.screen-estoque label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.screen-estoque input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.screen-estoque button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.screen-estoque button:hover {
  background-color: #0056b3;
}

.screen-estoque ul {
  list-style: none;
  padding: 0;
}

.screen-estoque ul li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* .main-navbar { */
/*   display: flex; */
/*   justify-content: space-around; */
/*   background-color: #007bff; */
/*   padding: 10px; */
/*   position: fixed; */
/*   width: 100%; */
/*   top: 0; */
/*   left: 0; */
/*   z-index: 1000; */
/* } */
/**/
/* .main-navbar button { */
/*   background: none; */
/*   border: none; */
/*   color: white; */
/*   font-size: 16px; */
/*   cursor: pointer; */
/*   padding: 10px 20px; */
/* } */
/**/
/* .main-navbar button:hover { */
/*   background-color: #0056b3; */
/*   border-radius: 4px; */
/* } */

.screen-orcamentos .content {
  padding: 20px;
}

.screen-orcamentos h2 {
  margin-top: 20px;
  font-size: 20px;
}

.screen-orcamentos label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

.screen-orcamentos input,
.screen-orcamentos select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.screen-orcamentos button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.screen-orcamentos button:hover {
  background-color: #0056b3;
}

.screen-orcamentos ul {
  list-style: none;
  padding: 0;
}

.screen-orcamentos ul li {
  background: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.screen-orcamentos ul li button {
  width: auto;
  padding: 5px 10px;
  margin-left: 10px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.screen-orcamentos ul li button:hover {
  background-color: #218838;
}

.screen-orcamentos ul li button:nth-child(3) {
  background-color: #dc3545;
}

.screen-orcamentos ul li button:nth-child(3):hover {
  background-color: #c82333;
}


.main-navbar .hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.main-navbar .menu {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #007bff;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-navbar button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
}

.main-navbar button:hover {
  background-color: #0056b3;
  border-radius: 4px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  padding: 10px;
  color: white;
}

.screen {
  display: none;
  flex: 1;
  overflow-y: auto;
  width: 100%;
}

.screen.active {
  display: block;
  position: relative;
}

.content {
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
}

input,
select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}

.main-navbar {
  display: flex;
  justify-content: space-between;
  background-color: #007bff;
  padding: 10px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-navbar .menu {
  display: flex;
  justify-content: space-around;
  flex-grow: 1;
}

.main-navbar button {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
}

.main-navbar button:hover {
  background-color: #0056b3;
  border-radius: 4px;
}

.main-navbar .hamburger {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .main-navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    position: relative;
      
  }

  .main-navbar .menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #007bff;
    border-radius: 4px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 0;
  }
  
  .main-navbar .menu.active {
    display: flex;
    max-height: 400px;
  }

  .main-navbar .hamburger {
    display: block;
  }

  .main-navbar button {
    padding: 15px;
    text-align: left;
    width: 100%;
  }
}

@media (min-width: 769px) {
  .container {
    align-self: center;
    margin: auto;
    height: auto;
    max-height: 90vh;
  }
}

